<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.add_practica3_jaime">

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".base.de.datos.proveedor.ProveedorCancion"
            android:authorities="com.example.admin.add_practica3_jaime.ProveedorCancion"
            android:exported= "true" />
        <provider
            android:name=".base.de.datos.proveedor.ProveedorDisco"
            android:authorities="com.example.admin.add_practica3_jaime.ProveedorDisco"
            android:exported= "true" />
        <provider
            android:name=".base.de.datos.proveedor.ProveedorInterprete"
            android:authorities="com.example.admin.add_practica3_jaime.ProveedorInterprete"
            android:exported= "true" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
